@model int

<div class="container text-center">
    <h1 class="text-primary">Order is placed successfully</h1>
    <br /> <br />
    <p>Your Order Number is @Model</p>
    <img src="~/images/confirm_image.jpg" width="65%"/>
    <br /> <br />
    <p class="text-secondary">Your Order is placed successfully!</p>
</div>