# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Rider
.idea/

# Compiled files
/bin/
/obj/

# NuGet Packages
*.nuget.props
*.lock.json
/paket.lock
/packages/

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
