@model Category

<form method="post">
    <div class="p-4 mt-4 border">
        <h2 class="text-primary">Delete Category</h2>
        <hr />
        <div class="mb-3 py-2">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control disabled" disabled/>
        </div>
        <div class="mb-3 py-2">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" class="form-control disabled" disabled />
        </div>
        <div class="row py-2">
            <div class="col-6 col-lg-3">
                <button class="btn btn-danger form-control" type="submit">Delete</button>
            </div>
            <div class="col-6 col-lg-3">
                <a asp-controller="Category" asp-action="index" class="btn btn-light form-control border">Back to Category List</a>
            </div>
        </div>
    </div>
</form>