@model List<Category> 
<partial name="_Toast" />
<div class="container">
    <div class="card mt-4 border-0">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Category List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i>  Create New Category
                    </a>
                </div>
            </div>
        </div>
    </div>
    <table class="table-bordered table-striped table">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.OrderBy(c => c.DisplayOrder))
            {
                <tr>
                    <td>
                        @cat.Name
                    </td>
                    <td>
                        @cat.DisplayOrder
                    </td>
                    <td>
                        <div class="input-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@cat.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@cat.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>