<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://craftyshop-euf3czbmatd8gzfq.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>9bed933c-f9bf-4d4b-86d6-4bee8b735096</ProjectGuid>
    <PublishUrl>https://craftyshop-euf3czbmatd8gzfq.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName>$CraftyShop</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>